body {
  background-color: wheat;
  background-image: url(d231830ec69e9c47bedb03527e5381af.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

